body{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("pic.jpg");
    /* background-image: url("pic.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;       
}
table{
    border: 4px solid rgb(243, 187, 31);
    }
th, td {
    padding: 15px;
    text-align: left;
    font-weight: bolder;
    color: black;
}
.container-fluid{
    margin-top: 100px;
} 
 
/* .container1{
   
    margin-right: 60%;
    padding-left: 80px;
    padding-top: 250px;
    padding-bottom: auto;
    border: 2px solid yellow;
    border-radius: 20px;
    background-color: yellow;
    font-family: fantasy;
    text-align: center;
}
#button{

}
.container2{
    margin: 350px;
} */